=render 'carts/item_list', cart_items: @cart_items, editable_quantity: false

= simple_form_for @order do |f|
  = f.input :address
  = f.input :ship_time, as: :select, collection: ShipTime.range
  = f.input :ship_date, as: :select,
         collection: Order.business_days
  = f.button :submit, '購入する'
