%h1 注文履歴


%ul.list-group
  - @orders.includes(:order_items).each do |order|
    %li.list-group-item.list-group-item-dark.mt-4
      .row
        .col
          注文日
          %br
          #{l(order.created_at, format: :short)}
        .col 合計 #{number_to_currency(order.total_price)}
        .col お届け先 #{order.address}
        .col.purchased_type
          = order.purchased_type_text
        .col.order_status
          = order.status_text
          - if order.status.ordered?
            = link_to '注文のキャンセル', users_order_status_path(order, order: { status: :canceled }), method: :put, data: {confirm: 'キャンセルしてよろしいですか？'}
        .col= link_to '注文の詳細', order_path(order)
    - order.order_items.includes(:item).each_with_index do | order_item, i|
      - if i == 0
        %li.list-group-item
          お届け予定日 #{ l(order.ship_date, format: :long) }
      %li.list-group-item
        .row
          .col
            = render 'items/item_image', item: order_item.item
            = link_to item_path(order_item.item) do
              = order_item.item.name
              - if order_item.quantity > 1
                、数量 #{order_item.quantity}
