- navigate_item ||= false
.card.mt-2.mb-2{style:"width: 20rem;"}
  = render 'items/item_image', item: item
  .card-body
    - if navigate_item
      %h5.card-title= link_to item.name, item_path(item)
    %p.card-text
      = number_to_currency(item.price)
    %p.card-text
      = item.description
    %p.card-text= item.merchant.name
