%nav.navbar.navbar-light.bg-light
  = link_to 'いよやマーケット', root_path, class: 'nav-item active'
  - if user_signed_in?
    = link_to carts_path, class: 'nav-item nav-link' do
      カートをみる
      .badge.badge-primary= current_cart.cart_items.count

    = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-item nav-link'
  - else
    = link_to 'ログイン', new_user_session_path, class: 'nav-item nav-link'
