!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title いよやマーケット
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'
  %body
    - if merchant_signed_in?
      = render "layouts/merchants/header"
    - else
      = render "layouts/header"
    .container.mt-3
      - if alert
        %p.alert.alert-danger= alert
      - elsif notice
        %p.alert.alert-success= notice
      = yield
